<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div class="embed-responsive embed-responsive-16by9">
    <div id="player"></div>
</div>

<p>API LOATED: @IsApiLoad</p>
<p>PLAYER READY: @IsPlayerReady</p>



